/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-field-file {
    display: block;
    position: relative;
    overflow: hidden;
    input[type="file"] {
        display: block;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        font-size: 0;
        opacity: 0;
        top: 110%;
        left: 110%;
        position: absolute;
        z-index: -999;
    }
    .btn {
        height: 24px;
        display: block;
        line-height: 16px;
        padding: 4px 0 0 34px;
        position: relative;
        overflow: hidden;
        border-radius: 0;
        box-shadow: none;
        background: none;
        border: none;
        font-size: 14px;
        color: var(--clr-title);
        &:before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            background: url(../img/icons/attach.svg) center no-repeat;
            background-size: 100% auto;
            top: 0;
            left: 0;
        }
        .button-title {
            display: block;
            height: 16px;
            line-height: 16px;
            border-bottom: 1px solid;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
.frm-field-uploads {
    display: flex;
    margin: 0 -10px -10px 0 0;
    .elm-photo {
        flex-shrink: 0;
        width: 75px;
        height: 75px;
        border-radius: 8px;
        background: #DCE9EF80 url(../img/icons/gallery.svg) center no-repeat;
        background-size: 45px auto;
        margin: 0 10px 10px 0;
        &:hover {
            .btn-action-ico.ico-del {
                opacity: 1;
            }
        }
        .btn-action-ico.ico-del {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background: fade(#000, 90);
            opacity: 0;
            &:hover {
                background: fade(#000, 80);
            }
            &:before, &:after {
                background: #fff;
            }
        }
    }
    .upload-action {
        width: 75px;
        height: 75px;
        position: relative;
        overflow: hidden;
        display: block;
        flex-shrink: 0;
        margin: 0 10px 10px 0;
        .btn.btn-action-ico.button-form {
            width: 75px;
            height: 75px;
            border: none;
        }
    }
}
.frm-field-buttons-panel {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px 0 0;
    .field-button-panel {
        display: flex;
        flex-shrink: 0;
        margin: 0 30px 10px 0;
    }
    .btn-action-ico {
        width: 24px;
        height: 24px;
        margin: 0 10px 0 0;
        flex-shrink: 0;
        &:last-child {
            margin: 0;
        }
        img, svg {
            filter: brightness(0) grayscale(1);
        }
        &:hover, &.active {
            img, svg {
                filter: none;
            }
        }
    }
}
.frm-req {
    display: inline;
    color: var(--clr-att);
}
.frm-field-range {
    padding-top: 6px;
    .field-range-slider {
        padding: 0 8px;
        max-width: 320px;
    }
    .field-range-title {
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        font-size: 12px;
        line-height: 15px;
        height: 15px;
        color: #81949D;
        z-index: 2;
        pointer-events: none;
        padding: 0 0 0 15px;
    }
    .field-range-wrap {
        display: flex;
        margin-top: 15px;
        height: 65px;
        border: 1px solid #81949D;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
    }
    .field-range {
        display: block;
        position: relative;
        width: 50%;
        flex-shrink: 0;
        &:first-child {
            border-right: 1px solid #81949D;
        }
    }
    .form-input {
        height: 64px;
        border-radius: 0;
        box-shadow: none;
        border: none;
        background: none;
        padding: 18px 10px 0 14px;
        font-size: 16px;
        color: var(--clr-base);
    }
    .ui-slider {
        height: 3px;
        border-radius: 2px;
        background: var(--clr-title);
        .ui-slider-range {
            background: var(--clr-att);
            border-radius: 2px;
        }
        .ui-slider-handle {
            width: 16px;
            height: 16px;
            outline: none;
            border-radius: 50%;
            background: #fff;
            border: 1px solid #81949D;
            cursor: pointer;
            top: 0;
            margin-top: -7px;
            margin-left: -8px;
        }
    }
}
.frm-field-title {
    display: block;
    font-size: 16px;
    line-height: 1.35;
    font-weight: bold;
    color: var(--clr-title);
    margin: 0 0 10px 0;
    .ft;
}
.frm-field-input {
    position: relative;
    line-height: 1;
    &:before {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        background: #eef5f7 url(../img/icons/frm-valid.svg) center no-repeat;
        background-size: 24px auto;
        top: 50%;
        right: 27px;
        margin: -20px -20px 0 0;
        z-index: 4;
        pointer-events: none;
        display: none;
    }
    &.inp-valid {
        &:before {
            display: block;
        }
    }
    &.inp-required {
        .field-input-title {
            &:after {
                content: " *";
                color: var(--clr-att);
                display: inline;
            }
        }
    }
    .field-input-title {
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 10px;
        line-height: 1.15;
        font-weight: 400;
        z-index: 2;
        pointer-events: none;
        padding-left: 10px;
        padding-right: 5px;
        color: var(--clr-title);
        &~.form-input {
            height: 48px;
            padding-top: 16px;
        }
    }
    .frm-ico {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 20px;
        margin: -10px 0 0 -10px;
        z-index: 2;
        pointer-events: none;
        &~.form-input, &~.field-input-title {
            padding-left: 40px;
        }
    }
    textarea.form-input {
        min-height: 450px;
        resize: vertical;
        font-size: 12px;
        line-height: 1.25;
    }
    .frm-field-input {
        &~textarea.form-input {
            padding-top: 40px !important;
        }
    }
    .button-password-toggle {
        z-index: 5;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        right: 27px;
        margin: -20px -20px 0 0;
        &~.form-input {
            padding-right: 50px;
        }
        &:not(.active) {
            &~.form-input {
                font-size: 34px;
                font-weight: bold;
                color: var(--clr-title);
                //-webkit-text-security: square;
                .ft;
            }
        }
    }
}
.frm-main-search {
    display: block;
    position: relative;
    padding: 0 42px 0 0;
    .form-input {
        height: 52px;
        background: #fff;
        padding: 0 40px 0 15px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        color: var(--clr-base);
    }
    .btn-action-ico.button-header {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 50%;
        right: 57px;
        margin-top: -16px;
        z-index: 3;
        &.ico-close {
            right: 0;
        }
    }
}
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
    margin: 0 -5px;
}
.frm-field {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 5px;
}
.frm-select, .frm-select-main, .frm-select-content, .frm-select-button {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
	}
}
.frm-select-main, .frm-select {
    font-size: 14px;
    line-height: 1.25;
    color: var(--clr-title);
    position: relative;
    display: block;
    label {
        display: flex;
        width: 100%;
        align-items: center;
        max-width: 100%;
        padding: 7px 10px 7px 38px;
        background: #fff;
        border-radius: 12px;
        border: 1px solid #E6E6E6;
        &:before, &:after {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 1px solid #81949D;
            position: absolute;
            top: 50%;
            left: 19px;
            margin: -9px 0 0 -9px;
        }
        &:after {
            width: 10px;
            height: 10px;
            border: none;
            background: var(--clr-att);
            opacity: 0;
            margin: -5px 0 0 -5px;
        }
    }
    input {
        &:checked {
            &~label {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    .elm-ico {
        width: 39px;
        height: 39px;
        flex-shrink: 0;
    }
    .lbl-title {
        display: block;
        padding-left: 10px;
    }
}
.frm-select {
    label {
        display: block;
        background: none;
        border-radius: 0;
        border: none;
        font-size: 12px;
        line-height: 16px;
        padding: 4px 0 0 34px;
        min-height: 24px;
        &:before, &:after {
            top: 12px;
            left: 12px;
        }
        &:before {
            width: 24px;
            height: 24px;
            margin: -12px 0 0 -12px;
        }
        &:after {
            width: 16px;
            height: 16px;
            margin: -8px 0 0 -8px;
        }
    }
}
.frm-select-content {
    &.select-inner {
        label {
            min-height: 24px;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 39px;
            display: flex;
            align-items: center;
            &:before {
                width: 24px;
                height: 24px;
                border-radius: 3px;
                background: #DCE9EF80;
                border: none;
                top: 50%;
                left: 12px;
                margin: -12px 0 0 -12px;
            }
            &:after {
                width: 24px;
                height: 24px;
                top: 50%;
                left: 12px;
                margin: -12px 0 0 -12px;
                background-image: url(../img/icons/chk-inner.svg);
                background-size: 24px auto;
            }
        }
    }
    label {
        padding-left: 37px;
        padding-top: 2px;
        font-size: 14px;
        line-height: 18px;
        min-height: 22px;
        position: relative;
        &:before, &:after {
            content: "";
            display: block;
            width: 22px;
            height: 22px;
            position: absolute;
            top: 11px;
            left: 11px;
            margin: -11px 0 0 -11px;
        }
        &:before {
            border-radius: 3px;
            border: 1px solid #81949D;
        }
        &:after {
            background: url(../img/icons/chk.svg) center no-repeat;
            background-size: 12px auto;
            opacity: 0;
        }
    }
    input {
        &:checked {
            &~label {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}
.frm-select-button {
    label {
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: 33px;
        border: 1px solid #81949D;
        border-radius: 4px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        justify-content: center;
        transition: all ease 0.2s;
        &:hover {
            background-color: var(--clr-title);
            border-color: var(--clr-title);
            color: #fff;
        }
    }
    input {
        &:checked {
            &~label {
                border-color: var(--clr-title);
                background: var(--clr-title);
                color: #fff;
            }
        }
    }
}
.frm-field-select-panel {
    display: flex;
    .frm-select-button {
        flex: 1;
        width: auto;
        &:first-child {
            label {
                border-right: none;
                border-radius: 4px 0 0 4px;
            }
        }
        &:last-child {
            label {border-radius: 0 4px 4px 0;}
        }
    }
}
@media (max-width: 1023px) {
    .frm-field-input.field-mobile-large {
        .field-input-title {
            font-size: 12px;
            top: 12px;
            padding-left: 12px;
            &~.form-input {
                height: 63px;
                padding-top: 22px;
            }
        }
        .frm-ico {
            width: 28px;
            height: 28px;
            left: 26px;
            margin: -14px 0 0 -14px;
            img, svg {
                width: 100%;
            }
            &~.form-input, &~.field-input-title {
                padding-left: 56px;
            }
        }
        .form-input {
            font-size: 16px;
        }
    }
}
@media (min-width: 1024px) {
    .frm-field-input {
        .field-input-title {
            font-size: 12px;
            top: 16px;
            padding-left: 12px;
            &~.form-input {
                height: 75px;
                padding-top: 22px;
            }
        }
        .frm-ico {
            width: 28px;
            height: 28px;
            left: 26px;
            margin: -14px 0 0 -14px;
            img, svg {
                width: 100%;
            }
            &~.form-input, &~.field-input-title {
                padding-left: 56px;
            }
        }
        textarea.form-input {
            min-height: 270px;
        }
    }
    .frm-row, .frm-row-submit {
        margin-left: -8px;
        margin-right: -7px;
    }
    .frm-field {
        padding-left: 8px;
        padding-right: 7px;
        margin-bottom: 3rem;
    }
    .frm-field-title {
        font-size: 2.4rem;
        line-height: 1.25;
        margin: 0 0 15px 0;
    }
    .frm-select-main {
        font-size: 16px;
        label {
            padding: 15px 23px 15px 78px;
            &:before, &:after {
                left: 39px;
            }
            &:before {
                width: 30px;
                height: 30px;
                margin: -15px 0 0 -15px;
            }
            &:after {
                width: 18px;
                height: 18px;
                margin: -9px 0 0 -9px;
            }
        }
        .lbl-title {
            padding-left: 24px;
        }
    }
    .frm-select {
        label {
            font-size: 16px;
            line-height: 20px;
            padding-top: 5px;
            min-height: 30px;
            padding-left: 45px;
            &:before, &:after {
                top: 15px;
                left: 15px;
            }
            &:before {
                width: 30px;
                height: 30px;
                margin: -15px 0 0 -15px;
            }
        }
    }
}
@media (min-width: 1400px) {
    .frm-select-main {
        font-size: 20px;
        .elm-ico {
            width: 48px;
            height: 48px;
        }
    }
}