/* ----------------------------------- *\
			inputs elements styles
\* ----------------------------------- */
.form-input[placeholder] {
    text-overflow: ellipsis;
}
.form-input {
    border: 1px solid rgba(220, 233, 239, 0.5);
    background: rgba(220, 233, 239, 0.5);
    border-radius: 8px;
    height: 44px;
    font-size: 12px;
    color: var(--clr-base);
    line-height: 1.25;
    padding: 0 9px;
    position: relative;
    overflow: hidden;
    &.form-input-light {
        background-color: #fff;
        border-color: #fff;
    }
}
textarea.form-input {
    height: 173px;
    padding-top: 9px;
}
select.form-input {
    cursor: pointer;
    display: block;
    width: 100%;
    padding-right: 30px;
    background-image: url(../img/icons/arrow-select.svg);
    background-position: right 10px center;
    background-size: 28px auto;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none!important;
    line-height: 1em;
    text-indent: 0.01px;
    text-overflow: '';
    outline: none;
    &.form-input-clear {
        height: auto;
        border: none;
        min-height: 0;
        border-radius: 0;
        box-shadow: none;
        width: auto;
        display: inline-block;
        vertical-align: middle;
        font-size: 1em;
        line-height: inherit;
        padding: 0 16px 0 0;
        color: inherit;
        font-weight: bold;
        background-image: url(../img/icons/arrow-select.png);
        background-size: 8px auto;
        background-repeat: no-repeat;
        background-position: right center;
    }
}
select::-ms-expand {
    display: none;
}
//   <select class="form-input form-input-line" required>
//       <option value="" disabled selected hidden>Выбрать</option>
//       <option>Пункт списка</option>
//   </select>
select.form-input:required:invalid {
    color: #ADADAD;
}
[placeholder]::-webkit-input-placeholder {color: #000;}
[placeholder]:-moz-placeholder {color: #000;}
[placeholder]::-moz-placeholder {color: #000;}
[placeholder]:-ms-input-placeholder {color: #000;}
.btn {
    height: 51px;
    border-radius: 26px;
    background: var(--clr-att);
    border: 1px solid var(--clr-att);
    padding: 0 29px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    box-shadow: 0px 6px 20px rgba(27, 72, 90, 0.36);
    &.button-back, &.button-forward {
        height: 41px;
        border-radius: 21px;
        padding: 0 15px;
        box-shadow: none;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        .button-ico {
            width: 35px;
            height: 24px;
            margin: 0 10px 0 0;
            img {
                width: auto;
                height: 24px;
                max-width: inherit;
                right: auto;
            }
        }
    }
    &.button-forward {
        .button-ico {
            margin: 0 0 0 10px;
            img {
                right: 0;
                left: auto;
            }
        }
    }
    &.button-content {
        height: 38px;
        border-radius: 5px;
        padding: 0 3rem;
        font-size: 14px;
        font-weight: 400;
        box-shadow: none;
    }
    &.button-link {
        text-decoration: underline;
        border-radius: 0;
        border: none;
        background: none;
        box-shadow: none;
        font-size: 14px;
        font-weight: bold;
        color: var(--clr-att);
        &:hover {
            border: none;
            background: none;
            color: var(--clr-att-hover);
            text-decoration: underline;
        }
    }
    &.button-form {
        height: 44px;
        flex-shrink: 0;
        border-radius: 8px;
        background: rgba(220, 233, 239, 0.5);
        border: 1px solid rgba(220, 233, 239, 0.5);
        box-shadow: none;
        min-width: 0;
        &:hover {
            background: rgba(220, 233, 239, 1);
            border-color: rgba(220, 233, 239, 1);
        }
        &.btn-action-ico {
            width: 44px;
            padding: 0;
        }
    }
    &:hover {
        background: var(--clr-att-hover);
        border-color: var(--clr-att-hover);
        color: #fff;
    }
    &.button-tag {
        height: 31px;
        border: 1px solid #81949D;
        border-radius: 7px;
        padding: 0 14px;
        font-size: 12px;
        font-weight: 400;
        color: var(--clr-title);
        background: none;
        box-shadow: none;
        &:hover, &.active {
            color: var(--clr-att);
            background: none;
            border-color: var(--clr-att);
        }
    }
    &.button-main {
        height: 36px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 24px;
        font-weight: 400;
        text-transform: uppercase;
        box-shadow: none;
        .button-ico {
            width: 18px;
            height: 18px;
            margin: 0 5px 0 0;
            &:last-child {
                margin: 0 0 0 5px;
            }
        }
        &.button-border {
            &:not(:hover) {
                background-color: transparent;
                color: var(--clr-title);
            }
        }
    }
    &.button-second {
        &:not(:hover) {
            background-color: var(--clr-title);
            border-color: var(--clr-title);
        }
    }
    &.button-border {
        &:not(:hover) {
            background-color: transparent;
            color: #231f20;
            .button-ico {
                filter: none;
            }
        }
        &:hover, &.active {
            background-color: var(--clr-att);
            border-color: var(--clr-att);
            .button-ico {
                filter: brightness(0) invert(1);
            }
        }
    }
    .button-ico {
        width: 24px;
        height: 24px;
        margin: 0 10px;
        transition: all ease 0.2s;
        filter: brightness(0) invert(1);
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}
.btn-action-ico {
    min-width: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    transition: all ease 0.2s;
    flex-shrink: 0;
    &:not(.btn) {
        background: none;
        border: none;
        box-shadow: none;
    }
    &.btn {
        min-width: 0;
        min-height: 0;
        padding: 0;
        display: block;
    }
    &:before, &:after, [class*="icon-"], img, svg {
        display: block;
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        transition: all ease 0.2s;
    }
    img, svg {
        max-width: 24px;
        max-height: 24px;
    }
    &:before, &:after {
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px auto;
    }
    &:hover {
        text-decoration: none;
        &:not(.btn) {
            background: none;
            box-shadow: none;
        }
    }
    &.ico-plus {
        &:before {
            background-image: url(../img/icons/plus.svg);
        }
    }
    &.ico-arrow {
        z-index: 20;
        cursor: pointer;
        &:before {
            background-image: url(../img/icons/arrow-slider.svg);
            background-size: 14px auto;
        }
        &:hover {
        }
    }
    &.ico-arrow-prev {
        &:before {
            .t-rotate(180deg);
        }
    }
    &.ico-search {
        &:before {
            background-image: url(../img/icons/search.svg);
        }
    }
    &.ico-user {
        &:before {
            background-image: url(../img/icons/user.svg);
        }
    }
    &.ico-menu {
        &:before {
            background-image: url(../img/icons/menu.svg);
        }
    }
    &.ico-close {
        &:after, &:before {
            width: 20px;
            height: 2px;
            top: 50%;
            left: 50%;
            bottom: auto;
            right: auto;
            margin: -1px 0 0 -10px;
            background: var(--clr-base);
            filter: none !important;
        }
        &:before {
            .t-rotate(45deg);
        }
        &:after {
            .t-rotate(-45deg);
        }
    }
    &.button-header {
        width: 28px;
        height: 28px;
        background: var(--clr-bg);
        border-radius: 8px;
        line-height: 28px;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        color: var(--clr-base);
        &:before, img, svg {
            max-width: 100%;
            max-height: 100%;
        }
        &:hover, &.active {
            color: #fff;
            background-color: var(--clr-att);
            &:before, img, svg {
                filter: brightness(0) invert(1);
            }
        }
    }
    &.button-soc {
        img, svg {
            max-width: 100%;
            max-height: 100%;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}
.btn-action {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: var(--clr-base);
    flex-shrink: 0;
    margin: 0 15px 0 0;
    &:last-child {
        margin: 0;
    }
    .button-ico {
        width: 24px;
        height: 24px;
        margin: 0 5px 0 0;
        flex-shrink: 0;
    }
    &:hover {
        color: var(--clr-title);
    }
}
.fav-inner-wrap {
    .btn-action {
        .button-ico {
            margin-right: 10px;
        }
        .button-title {
            text-decoration: underline;
        }
    }
}
.btn-action-toggle {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 28px;
    padding: 0 30px 0 0;
    color: var(--clr-title);
    .button-ico {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        margin: 0 10px 0 0;
    }
    .button-title {
        display: block;
    }
    &:before {
        content: "";
        display: block;
        width: 28px;
        height: 28px;
        position: absolute;
        background: url(../img/icons/arrow-toggle-small.svg) center no-repeat;
        background-size: 100% auto;
        top: 50%;
        right: 0;
        margin-top: -14px;
        transition: all ease 0.2s;
    }
    &.active {
        &:before {
            .t-rotate(180deg);
        }
    }
    &:hover {
        color: var(--clr-title);
    }
}
@media (min-width: 1024px) {
    .form-input {
        height: 60px;
        padding-left: 12px;
        font-size: 16px;
    }
    textarea.form-input {
        padding-top: 15px;
    }
    .btn {
        &.button-back, &.button-forward {
            height: 51px;
            border-radius: 26px;
            padding: 0 29px;
            font-size: 16px;
            .button-ico {
                width: 58px;
            }
        }
        &.button-form {
            height: 60px;
            &.btn-action-ico {
                width: 60px;
            }
        }
        &.button-tag {
            height: 36px;
            padding: 0 16px;
            font-size: 16px;
        }
        &.button-main {
            height: 45px;
            font-size: 14px;
            .button-ico {
                width: 24px;
                height: 24px;
                margin-right: 10px;
                &:last-child {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
    .btn-action-ico {
        &.button-header {
            width: 32px;
            height: 32px;
            line-height: 32px;
        }
        &.ico-search {
            &:before {
                background-size: 30px auto;
            }
        }
    }
}