<!--main-filter-box-->
<div class="main-filter-box cnt-section">
	<div class="inner-wrap">
		<div class="cnt-box">
			<div class="frm-rows-wrap">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="frm-ico">
								<img src="./img/icons/frm-type.svg" alt="">
							</div>
							<div class="field-input-title">Тип тура</div>
							<select class="form-input">
								<option>Горнолыжный отдых</option>
								<option>Горнолыжный отдых</option>
								<option>Горнолыжный отдых</option>
								<option>Горнолыжный отдых</option>
								<option>Горнолыжный отдых</option>
							</select>
						</div>
					</div>
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="frm-ico">
								<img src="./img/icons/frm-location.svg" alt="">
							</div>
							<div class="field-input-title">Размещение</div>
							<select class="form-input">
								<option>Отель 5*</option>
								<option>Отель 5*</option>
								<option>Отель 5*</option>
								<option>Отель 5*</option>
							</select>
						</div>
					</div>
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="frm-ico">
								<img src="./img/icons/frm-cal.svg" alt="">
							</div>
							<div class="field-input-title">Дата заезда</div>
							<input type="text" class="form-input" placeholder="24.06.2023">
						</div>
					</div>
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="frm-ico">
								<img src="./img/icons/frm-one.svg" alt="">
							</div>
							<div class="field-input-title">Кол-во отдыхающих</div>
							<select class="form-input">
								<option>3 взрослых</option>
								<option>3 взрослых</option>
								<option>3 взрослых</option>
								<option>3 взрослых</option>
							</select>
						</div>
					</div>
				</div>
				<div class="frm-field-submit">
					<button type="submit" class="btn">
										<span class="button-ico">
											<img src="./img/icons/arrow-button-main.svg" alt="">
										</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/main-filter-box-->