
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-main-panel">
			<div class="cnt-box">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo-light.svg" alt="">
					</a>
					<div class="logo-title">Поделись впечатлениями и&nbsp;опытом</div>
				</div>
				<div class="menu-wrap">
					<ul class="menu">
						<li><a href="">О нас</a></li>
						<li><a href="">Туры и путешествия</a></li>
						<li><a href="">Базы отдыха</a></li>
						<li><a href="">Кружок общения по интересам</a></li>
						<li><a href="">Партнеры</a></li>
						<li><a href="">Правила сайта</a></li>
						<li><a href="">Часто задаваемые вопросы</a></li>
						<li><a href="">Политика конфиденциальности</a></li>
					</ul>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc01.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc02.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc03.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc04.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc05.svg" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="footer-bottom-panel">
			<div class="footer-inner-title">Планета увлечений</div>
			<div class="cnt-box">
				<div class="info-wrap">2023 © ILiKE Все права защищены</div>
				<div class="studio-wrap">Сделано <a href="">ВебУспех</a></div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->